UNSUPERVISED ASSOCIATION IN MACHINE LEARNING

In [3]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [4]:
dataset = [
    ["Milk", "Onion", "Nutmeg", "Kidney Beans", "Eggs", "Yogurt"],
    ["Dill", "Onion", "Nutmeg", "Kidney Beans", "Eggs", "Yogurt"],
    ["Milk", "Apple", "Kidney Beans", "Eggs"],
    ["Milk", "Unicorn", "Corn", "Kidney Beans", "Yogurt"],
    ["Corn", "Onion", "Onion", "Kidney Beans", "Ice cream", "Eggs"]
]

In [7]:
pip install mlxtend

Collecting mlxtend
  Downloading mlxtend-0.23.4-py3-none-any.whl.metadata (7.3 kB)
Requirement already satisfied: scipy>=1.2.1 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from mlxtend) (1.15.3)
Requirement already satisfied: numpy>=1.16.2 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from mlxtend) (2.2.5)
Requirement already satisfied: pandas>=0.24.2 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from mlxtend) (2.2.3)
Requirement already satisfied: scikit-learn>=1.3.1 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from mlxtend) (1.6.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from mlxtend) (3.10.3)
Requirement already satisfied: joblib>=0.13.2 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from mlxtend) (1.5.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.58.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from pandas>=0.24.2->mlxtend) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from pandas>=0.24.2->mlxtend) (2025.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn>=1.3.1->mlxtend) (3.6.0)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.17.0)
Downloading mlxtend-0.23.4-py3-none-any.whl (1.4 MB)
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
   ------- -------------------------------- 0.3/1.4 MB ? eta -:--:--
   ----------------------- ---------------- 0.8/1.4 MB 2.8 MB/s eta 0:00:01
   ---------------------------------------- 1.4/1.4 MB 2.6 MB/s eta 0:00:00
Installing collected packages: mlxtend
Successfully installed mlxtend-0.23.4
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules
import pandas as pd

In [10]:
te = TransactionEncoder()

te_ary=te.fit(dataset).transform(dataset)
te_ary

array([[False, False, False,  True, False,  True,  True,  True,  True,
        False,  True],
       [False, False,  True,  True, False,  True, False,  True,  True,
        False,  True],
       [ True, False, False,  True, False,  True,  True, False, False,
        False, False],
       [False,  True, False, False, False,  True,  True, False, False,
         True,  True],
       [False,  True, False,  True,  True,  True, False, False,  True,
        False, False]])

In [11]:
df = pd.DataFrame(te_ary, columns=te.columns_)

In [12]:
df

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [14]:
frequent_itemsets = apriori(df, min_support=0.6, use_colnames=True)

frequent_itemsets

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
5       0.8         (Eggs, Kidney Beans)
6       0.6                (Eggs, Onion)
7       0.6         (Milk, Kidney Beans)
8       0.6        (Kidney Beans, Onion)
9       0.6       (Yogurt, Kidney Beans)
10      0.6  (Eggs, Kidney Beans, Onion)

In [15]:
rules = association_rules(frequent_itemsets, metric='lift', min_threshold=1.0)

C:\Users\USER\AppData\Local\Programs\Python\Python312\Lib\site-packages\mlxtend\frequent_patterns\association_rules.py:186: RuntimeWarning: invalid value encountered in divide
  cert_metric = np.where(certainty_denom == 0, 0, certainty_num / certainty_denom)

In [16]:
rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']]

              antecedents            consequents  support  confidence  lift
0                  (Eggs)         (Kidney Beans)      0.8        1.00  1.00
1          (Kidney Beans)                 (Eggs)      0.8        0.80  1.00
2                  (Eggs)                (Onion)      0.6        0.75  1.25
3                 (Onion)                 (Eggs)      0.6        1.00  1.25
4                  (Milk)         (Kidney Beans)      0.6        1.00  1.00
5          (Kidney Beans)                 (Milk)      0.6        0.60  1.00
6          (Kidney Beans)                (Onion)      0.6        0.60  1.00
7                 (Onion)         (Kidney Beans)      0.6        1.00  1.00
8                (Yogurt)         (Kidney Beans)      0.6        1.00  1.00
9          (Kidney Beans)               (Yogurt)      0.6        0.60  1.00
10   (Eggs, Kidney Beans)                (Onion)      0.6        0.75  1.25
11          (Eggs, Onion)         (Kidney Beans)      0.6        1.00  1.00
12  (Onion, Kidney Beans)                 (Eggs)      0.6        1.00  1.25
13                 (Eggs)  (Onion, Kidney Beans)      0.6        0.75  1.25
14         (Kidney Beans)          (Eggs, Onion)      0.6        0.60  1.00
15                (Onion)   (Eggs, Kidney Beans)      0.6        1.00  1.25

WORK

In [52]:
df = pd.read_csv('bread basket.csv')

In [53]:
df.head(10)

   Transaction           Item         date_time period_day weekday_weekend
0            1          Bread  30-10-2016 09:58    morning         weekend
1            2   Scandinavian  30-10-2016 10:05    morning         weekend
2            2   Scandinavian  30-10-2016 10:05    morning         weekend
3            3  Hot chocolate  30-10-2016 10:07    morning         weekend
4            3            Jam  30-10-2016 10:07    morning         weekend
5            3        Cookies  30-10-2016 10:07    morning         weekend
6            4         Muffin  30-10-2016 10:08    morning         weekend
7            5         Coffee  30-10-2016 10:13    morning         weekend
8            5         Pastry  30-10-2016 10:13    morning         weekend
9            5          Bread  30-10-2016 10:13    morning         weekend

In [57]:
df.Item.nunique()

94

In [58]:
grouped = df.groupby('Transaction')['Item'].apply(list).reset_index()
grouped

      Transaction                                               Item
0               1                                            [Bread]
1               2                       [Scandinavian, Scandinavian]
2               3                      [Hot chocolate, Jam, Cookies]
3               4                                           [Muffin]
4               5                            [Coffee, Pastry, Bread]
...           ...                                                ...
9460         9680                                            [Bread]
9461         9681  [Truffles, Tea, Spanish Brunch, Christmas common]
9462         9682                [Muffin, Tacos/Fajita, Coffee, Tea]
9463         9683                                   [Coffee, Pastry]
9464         9684                                        [Smoothies]

[9465 rows x 2 columns]

In [60]:
n_df=grouped['Item']

In [61]:
te = TransactionEncoder()

te_ary=te.fit(n_df).transform(n_df)
te_ary

array([[False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False]], shape=(9465, 94))

In [62]:
df = pd.DataFrame(te_ary, columns=te.columns_)

In [63]:
df

,Adjustment,Afternoon with the baker,Alfajores,Argentina Night,Art Tray,Bacon,Baguette,Bakewell,Bare Popcorn,Basket,...,The BART,The Nomad,Tiffin,Toast,Truffles,Tshirt,Valentine's card,Vegan Feast,Vegan mincepie,Victorian Sponge
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9460,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9461,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
9462,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9463,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9464,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [65]:
frequent_itemsets = apriori(df, min_support=0.01, use_colnames=True)

frequent_itemsets

     support                 itemsets
0   0.036344              (Alfajores)
1   0.016059               (Baguette)
2   0.327205                  (Bread)
3   0.040042                (Brownie)
4   0.103856                   (Cake)
..       ...                      ...
56  0.023666          (Coffee, Toast)
57  0.014369          (Tea, Sandwich)
58  0.010037    (Coffee, Bread, Cake)
59  0.011199  (Coffee, Bread, Pastry)
60  0.010037      (Tea, Coffee, Cake)

[61 rows x 2 columns]

In [66]:
rules = association_rules(frequent_itemsets, metric='lift', min_threshold=1.0)

In [73]:
rl=rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']]
rl.head()

   antecedents  consequents   support  confidence      lift
0     (Coffee)  (Alfajores)  0.019651    0.041078  1.130235
1  (Alfajores)     (Coffee)  0.019651    0.540698  1.130235
2      (Bread)     (Pastry)  0.029160    0.089119  1.034977
3     (Pastry)      (Bread)  0.029160    0.338650  1.034977
4     (Coffee)    (Brownie)  0.019651    0.041078  1.025860

In [71]:
rl.describe()

         support  confidence       lift
count  42.000000   42.000000  42.000000
mean    0.023088    0.245089   1.261089
std     0.012432    0.214038   0.267217
min     0.010037    0.022747   1.022193
25%     0.011410    0.075144   1.083723
50%     0.019651    0.127237   1.130235
75%     0.029160    0.503126   1.402222
max     0.054728    0.704403   1.937977